.LogoBar img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
.InputBar h2 {
    margin-top: 30px;
    text-align: center;
    width: 360px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}
.GoogleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    color: #000;
    transition: all ease 0.7s;
}
.GoogleBtn:hover {
    transform: scale(1.1);
    background: #000;
    color: #FFFFFF;
}
.GoogleBtn img {
    width: 20px;

}
.Or {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #000;
}
.inpBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    margin-top: 20px;
}
.inpBox input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    padding: 0 0 0 15px;
    background: #EBEBEB;
    border: none;
    outline: none;
    border-radius: 5px;
}
.inpBox input::placeholder {
    color: #000;
}
.LogInBtn {
    width: 300px;
    background: #000;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    text-align: center;
    transition: all ease 0.7s;
}
.LogInBtn:hover {
    transform: scale(1.1);
}
.usebtn {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #52A5ED;
    text-decoration: underline;
}
.Reset {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #52A5ED;
    text-decoration: underline;
}
.inpBarText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #BAB4B2;
    margin-top: 20px;
}
.inpBarText a {
    color: #52A5ED;
    text-decoration: underline;
}
@media screen and (max-width: 390px) {
    .LogoBar{
        padding: 19 20px;
    }
    .InputBar h2 {
        font-size: 1.1rem;
        width: 90%;
    }
    .GoogleBtn {
        width: 95%;
    }
    .inpBox {
        width: 95%;
    }
    .inpBox input {
        width: 95%;
    }
    .LogInBtn {
        width: 95%;
    }
    .inpBarText {
        flex-wrap: wrap;
    }
}